.may-movie {
  width: 1920px;
  height: 890px;
  background: black;
  display: flex;
  flex-direction: row;

  img {
    width: 200px;
    height: 300px;
    margin: 69px 30px;
  }

  &-closeButton {
    height: 40px;
    width: 40px;
    margin-left: 400%;
    margin-top: -150%;
    font-size: 20px;
  }

  &-closeButton:hover{
    background: red;
    color: white;
  }

  &-info {
    display: flex;
    flex-direction: column;
    margin-top: 60px
  }

  &-genresSettings{
    display: inline;
  }

}