$breakpoint-tablet: 768px;

.movie-container {
  flex-direction: column;
  flex-wrap: wrap;
  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
  }
}

 .sortingStyle{
   width: 200px;
   background: black;
   margin-left: 100px;
 }

.App {
  text-align: center;
  padding-bottom: 90px;

  &.dark {
    background-color: #282c34;
  }
}